<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  
    <gazebo reference="Sick_link">
      <sensor type="gpu_ray" name="SickLidar">
        <pose>0 0 0 0 0 0</pose>
        <visualize>0</visualize>
        <update_rate>10</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>720</samples>
              <resolution>1</resolution>
              <min_angle>0</min_angle>
              <max_angle>3.141592653589793</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.5</min>
            <max>30.0</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
        <plugin name="Sick_plugin" filename="libgazebo_ros_ray_sensor.so">
          <ros>
            <argument>use_sim_time:=true</argument>
            <namespace>ARGJ801</namespace>
            <remapping>~/out:=/ARGJ801/Sick/scan</remapping>
          </ros>

          <frame_name>Sick_link</frame_name>
          <output_type>sensor_msgs/LaserScan</output_type>
   
        </plugin>
      </sensor>
    </gazebo>
  
</robot>

