<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  
    <gazebo reference="Sick_link">
      <sensor type="ray" name="SickLidar">
        <!-- pose reset to 0: test with full 360 to see if any wall is hit -->
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>10</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>720</samples>
              <resolution>1</resolution>
              <min_angle>-3.14159265358979</min_angle>
              <max_angle>3.14159265358979</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.1</min>
            <max>30.0</max>
            <resolution>0.01</resolution>
          </range>
        </ray>
        <plugin name="Sick_plugin" filename="libgazebo_ros_ray_sensor.so">
          <ros>
            <namespace>ARGJ801</namespace>
            <remapping>~/out:=/ARGJ801/Sick/scan</remapping>
          </ros>

          <frame_name>Sick_link</frame_name>
          <output_type>sensor_msgs/LaserScan</output_type>
   
        </plugin>
      </sensor>
    </gazebo>
  
</robot>

