# Ignore everything at the repository root by default.
/*

# Keep Git control files and the repository scope we want to version.
!/.gitignore
!/README.md
!/dockerfile
!/dockerfile.local
!/entrypoint.sh
!/entrypoint_local.sh
!/install.sh
!/local_cyclonedds.xml
!/init_profile_results.prof
!/docs/
!/docs/**
!/src/
!/src/**