  <?xml version="1.0"?>
  <model>
    <name>argo_v2</name>
    <version>1.0</version>
    <sdf>urdf/argo.urdf.xacro</sdf>
    <author>
      <name>Manuel Sanchez</name>
      <email>manuel.sanchez.m@uma.es</email>
    </author>
    <description>
      Model for ArgoJ8 robot
    </description>
  </model>
